<div class="content">
    <div class="content-body" data-ng-show="!loading">


        <div style="display:block;width:100%;padding:0.5em;">            
            <searcher style="float:left;"></searcher>    
            <br /> <br />            
            <booking-sorter 
                sort="[
                { name: 'Price', value: 'Price' },
                { name: 'NoPersons', value: 'Number of visitors' },
                { name: 'HB', value: 'HB' }
            ]"></booking-sorter>   
       </div>  
       <div data-ng-repeat="hotel in hotels | filter:query | orderObjectBy:sortBy:sortDirection">
           <div>Location: {{ hotel.Location }}</div>
           <div>Address: {{ hotel.Address }}</div>
           <div>NoPersons: {{ hotel.NoPersons }}</div>
           <div>Parking: {{ hotel.Parking }}</div>
           <div>Wifi: {{ hotel.Wifi }}</div>
           <div>HB: {{ hotel.HB }}</div>
           <div>TV: {{ hotel.TV }}</div>
           <div>Kitchen: {{ hotel.Kitchen }}</div>
           <div>Price: {{ hotel.Price }} $</div>
           <div>Description: {{ hotel.Description }}</div>
           <div>
               Check reservation schedule: <button data-ng-click="goToAccomodation(hotel.AccomodationId)">Reservation</button>
           </div>
       </div>
        
    </div>
</div>