<div class="content">
    <div class="content-body" data-ng-show="!loading">
       <div>
           <div>Location: {{ selectedAccomodation.Location }}</div>
           <div>Address: {{ selectedAccomodation.Address }}</div>
           <div>NoPersons: {{ selectedAccomodation.NoPersons }}</div>
           <div>Parking: {{ selectedAccomodation.Parking }}</div>
           <div>Wifi: {{ selectedAccomodation.Wifi }}</div>
           <div>HB: {{ selectedAccomodation.HB }}</div>
           <div>TV: {{ selectedAccomodation.TV }}</div>
           <div>Kitchen: {{ selectedAccomodation.Kitchen }}</div>
           <div>Price: {{ selectedAccomodation.Price }}</div>
           <div>Description: {{ selectedAccomodation.Description }}</div>
       </div>
        <div>
            Pick reservation date:
        </div>
        
    </div>
</div>